<h1 class="form-header text-center">
  <strong>Edit Category</strong>
</h1>

<%= render 'form' %>

<div class="text-center">
  [<%= link_to "Add new category", new_category_path %> | <%= link_to 'Cancel and back to categories listing', categories_path %>]
</div>