<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy;
      <%= link_to "Blog", "https://github.com/cakdityo/blog" %>
      by<strong> <%= link_to "CAKDITYO", "https://github.com/cakdityo" %></strong>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", "#" %></li>
      </ul>
    </nav>
  </footer>
</div>